{{extend 'layout2.html'}}

{{block title}}
<title>Customise SBtab definition file</title>
{{end}}

{{block dynamic_nav}}
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/default/validator.html">Validator</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/default/converter.html">SBML</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="https://www.sbtab.net/default/def_files.html">Customize SBtab</a>
</li>
{{end}}


{{block center}}
<header>
  <div class="container-fluid bg-1 text-center">
    <div class="jumbotron" align="center">
      <h1><small>Customise SBtab definition file</small></h1>
    </div>
  </div>
</header>

<main>
  <div class="container-fluid bg-3 text-center">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">

	<section>
	  {{=UPL_FORM}}

	  {{if DEF_NAME:}}
	  
	  {{if NEW:}}
	  You are now using a customized definition table. Please note
	  that, when using a new definition table, the predefined definition table will be completely
	  overridden, so any tables and columns to be used (also the predefined ones) must be listed
	  in the new table. You can always return to the default definition table by simply removing
	  your customized definition table.
	  <a href="show_sbtab_def/0}}" target="_new"> {{=DEF_NAME}} </a>
	  <form>

	    <button type="submit" value="{{=0}}" name="erase_def_button">Remove</button>
	  </form>
	  {{pass}}
	  
	  {{if not NEW:}}
	  The features of SBtab tables, such as column names, are defined by a definition table.
	  By editing this table, you can customize the SBtab format and define new table types. Note
	  that, when using a new definition table, the predefined definition table will be completely
	  overridden, so any tables and columns to be used (also the predefined ones) must be listed
	  in the new table. Currently the default definition SBtab is loaded for your session:
	  <a href="show_sbtab_def/{{=str(0)}}" target="_new"> {{=DEF_NAME}} </a>
	  {{pass}}


	  {{pass}}
	</section>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{{end}}
