{{extend 'layout2.html'}}

{{block title}}
<title>SBtab - Frequently Asked Questions (FAQ)</title>
{{end}}

{{block dynamic_nav}}
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net">Home</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/introduction.html">Getting started <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/specification.html">Specification</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/validator.html">Validator</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/converter.html">SBML</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/def_files.html">Customize SBtab</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/code.html">Code</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/troubles.html">Troubleshooting</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/team.html">Contact</a>
</li>
{{end}}

{{block center}}
<header>
  <div class="container-fluid bg-1 text-center">
    <div class="jumbotron" align="center">
      <h1><small>SBtab Example Files</small></h1>
    </div>
  </div>
</header>

<main>
  <div class="container-fluid bg-3 text-center">
    <div class="row" align="left">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 textblock">
  
	<article>
	  <p>
	    <strong>Example 1:</strong>
	    The first two reactions of yeast
	    glycolysis. Entire model in one file:
	  </p>
	  
	  <ol>
	    <li>
	      <a href="/sbtab/static/sbtab-example-files/BIOMD0000000061.tsv">BIOMD0000000061.tsv</a>
	    </li>
	  </ol>
	  <p style="width:580;">Tables in separate files:</p>
	  <ol >
	    <li>
	      <a href="/sbtab/static/sbtab-example-files/BIOMD0000000061_Compartment.tsv">BIOMD0000000061_Compartment.tsv</a>
	    </li>
	    <li>
	      <a href="/sbtab/static/sbtab-example-files/BIOMD0000000061_Compound.tsv">BIOMD0000000061_Compound.tsv</a>
	    </li>
	    <li>
	      <a href="/sbtab/static/sbtab-example-files/BIOMD0000000061_Enzyme.tsv">BIOMD0000000061_Enzyme.tsv</a>
	    </li>
	    <li>
	      <a href="/sbtab/static/sbtab-example-files/BIOMD0000000061_Quantity-concentration.tsv">BIOMD0000000061_Quantity-concentration.tsv</a>
	    </li>
	    <li>
	      <a href="/sbtab/static/sbtab-example-files/BIOMD0000000061_Quantity-parameters.tsv">BIOMD0000000061_Quantity-parameters.tsv</a>
	    </li>
	    <li>
	      <a href="/sbtab/static/sbtab-example-files/BIOMD0000000061_Reaction.tsv">BIOMD0000000061_Reaction.tsv</a>
	    </li>
	  </ol>
	  <p>The two reactions stem from a model of yeast
	    glycolysis, published in Hynne et al. (2001), Full-scale model of
	    glycolysis in Saccharomyces cerevisiae.  Biophys. Chem.  (1-2):
	    121-163).  The original SBML file has been retrieved from
	    <a href="https://www.ebi.ac.uk/biomodels-main/BIOMD0000000061">
	      Biomodels Database</a> and automatically been converted into SBtab tables.
	  </p>
	</article>

	<article>
	  <p>
	    <strong>Example 2:</strong>
	    Structural model of the Lac Operon
	  </p>
	  <ol>
	    <li>
	      <a href="/sbtab/static/sbtab-example-files/LacOperon_Gene.tsv">LacOperon_Gene.tsv</a>
	    </li>
	    <li>
	      <a href="/sbtab/static/sbtab-example-files/LacOperon_Regulator.tsv">LacOperon_Regulator.tsv</a>
	    </li>
	  </ol>
	</article>

	<article>
	  <p>
	    <strong>Example 3:</strong>
	    Structure of the feed-forward loop
	  </p>
	  <ol>
	    <li>
	      <a href="/sbtab/static/sbtab-example-files/Feed-forward-loop_Relationship.tsv">Feed-forward-loop_Relationship.tsv</a>
	    </li>
	  </ol>
	</article>

	<article>
	  <p>
	    <strong>Example 4:</strong>
	    Standard Gibbs free energies of reactions for chemical 
	    reactions listed in the KEGG database. The values have been computed using the  
	    <a href="http://equilibrator.weizmann.ac.il/">eQuilibrator</a> web
	    tool.
	  </p>
	  <ol>
	    <li>
	      <a href="/sbtab/static/sbtab-example-files/kegg_reactions_CC_ph7.0.tsv">kegg_reactions_CC_ph7.0.tsv</a>
	    </li>
	  </ol>
	</article>

	<article>
	  <p>
	    <strong>Example 5:</strong>
	    Yeast transcriptional interactions, adopted from 
	    <a href="http://bioinformatics.oxfordjournals.org/content/24/11/1349.full#ref-16">Chang et al. (2008)</a>
	  </p>
	  <ol>
	    <li>
	      <a href="/sbtab/static/sbtab-example-files/yeast_transcription_network_chang_2008.tsv">yeast_transcription_network_chang_2008.tsv</a>
	    </li>
	  </ol>
	</article>

	<article>
	  <p>
	    <strong>Example 6:</strong>
	    Example tables appearing in the 
	    <a href="/sbtab/default/specification.html">SBtab specification</a>
	  </p>
	  <ol>
	    <li>
	      <a href="/sbtab/static/sbtab-example-files/SBtab_specification_example_tables.tsv">SBtab_specification_example_tables.tsv</a>
	    </li>
	  </ol>
	</article>
	  
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{end}}
