{{extend 'layout2.html'}}

{{block title}}
<title>SBtab - Getting Started</title>
{{end}}

{{block dynamic_nav}}
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/gettingstarted.html">Getting started<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Click to see SBtab Online Tools">
    Online Tools
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="https://www.sbtab.net/sbtab/default/validator.html">Validator</a>
    </li>
    <li>
      <a href="https://www.sbtab.net/sbtab/default/converter.html">SBML converter</a>
    </li>
    <li>
      <a href="https://www.sbtab.net/sbtab/default/def_files.html">Customize SBtab</a>
    </li>
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/documentation.html">Documentation</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/downloads.html">Download</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/team.html">Contact</a>
</li>
{{end}}

{{block center}}
<header>
  <div class="container-fluid bg-1 text-center">
    <div class="jumbotron" align="center">
      <h1><small>Getting Started</small></h1>
    </div>
  </div>
</header>

<main>
  <div class="container-fluid bg-3 text-center">
    <div class="row" align="left">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 textblock">

	
	<article>
	  <h2>What is SBtab?</h2>
	  <p>
	    SBtab is a set of conventions for data tables
	    and spreadsheet files, facilitating data exchange in Systems
	    Biology. Conventions concern, for instance, formatted information
	    about the table in the first row, standardised column names and units,
	    and use of standard terminology (e.g., names defined by the 
	    <a href="http://www.ebi.ac.uk/sbo/main/">Systems
	      Biology Ontology</a>), as in the following example:
	  </p>
	  <table class="table table-hover">
	    <thead>
	      <tr>
		<th scope="col" colspan="6">!!SBtab TableType='Quantity' TableName='Kinetic constants' SBtabVersion='1.0'</th>
	      </tr>
	      <tr>
		<th scope="col">!ID</th>
		<th scope="col">!QuantityType</th>
		<th scope="col">!Reaction:SBML:reaction:id</th>
		<th scope="col">!Compound:SBML:species:id</th>
		<th scope="col">!Mean</th>
		<th scope="col">!Unit</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td>scp1</td>
		<td>standard chemical potential</td>
		<td></td>
		<td>F6P</td>
		<td>-1380	</td>
		<td>kJ/mol</td>
	      </tr>
	      <tr>
		<td>scp2</td>
		<td>standard chemical potential</td>
		<td></td>
		<td>FBP</td>
		<td>-2206	</td>
		<td>kJ/mol</td>
	      </tr>
	      <tr>
		<td>kcrf1</td>
		<td>substrate catalytic rate constant</td>
		<td></td>
		<td>R04779</td>
		<td>0.02</td>
		<td>1/s</td>
	      </tr>
	      <tr>
		<td>kcrr1</td>
		<td>product catalytic rate constant</td>
		<td></td>
		<td>R04779</td>
		<td>0.01</td>
		<td>1/s</td>
	      </tr>
	      <tr>
		<td>kmc1</td>
		<td>Michaelis constant</td>
		<td>FBP</td>
		<td>R04779</td>
		<td>0.5</td>
		<td>mM</td>
	      </tr>
	      <tr>
		<td>kmc2</td>
		<td>Michaelis constant</td>
		<td>ATP</td>
		<td>R04779</td>
		<td>0.5</td>
		<td>mM</td>
	      </tr>
	      <tr>
		<td>kmc3</td>
		<td>Michaelis constant</td>
		<td>ADP</td>
		<td>R04779</td>
		<td>0.1</td>
		<td>mM</td>
	      </tr>	    
	      <tr>
		<td>kic1</td>
		<td>inhibitory constant</td>
		<td>ATP</td>
		<td>R04779</td>
		<td>1</td>
		<td>mM</td>
	      </tr>
	    </tbody>
	  </table>
	</article>

	
	<article>
	  <h2>What are the advantages of using SBtab?</h2>
	  <p>Data tables in the form of spreadsheet or
	    delimited text files are the most popular data format in Systems
	    Biology. However, they are often not sufficiently structured and
	    they lack clear naming conventions that are required for
	    modelling.<br>
	    SBtab is an attempt to establish easy-to-use
	    formats that are both flexible and clearly structured. It
	    comprises defined table types for different kinds of data; syntax
	    rules for usage of names, shortnames, and database identifiers
	    used for annotation; and standardised formulae for reaction
	    stoichiometries. Furthermore, SBtab enables users to easily define
	    their own table types to customise SBtab for different types of
	    data. The predefined table types can be used to define biochemical
	    network models and the biochemical constants therein.  By
	    modifying the definition
	    table <a href="https://www.sbtab.net/sbtab/static/documents/definitions.tsv">definitions.tsv</a>, you
	    can customise the SBtab format and define new table types for your
	    data.
	  </p>
	</article>	
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>



	
	<div class="container-fluid bg-3 text-center">
    <div class="row" align="left">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 textblock">

	
	<article>
	  <h2>SBtab files describing biochemical  network models</h2>
	  <p>
	    For the conversion of an SBtab file or several SBtab files, the 
	    provision of a 'Reaction' SBtab is crucial, since it defines the 
	    strucure of the new SBML model. But other SBtabs can be included in the 
	    conversion as well (e.g. TableType='Compound' or 
	    TableType='Compartment'). Please note here that it is crucial to stick 
	    to the identifying names: If the sum formula of a reaction lists 'ATP' 
	    as a reactant, the corresponding species in the Compound SBtab needs to 
	    be named 'ATP' as well (and not for instance 'Adenosine-triphosphate').
	  </p>
	</article>

	<article>
	  <h2>Here is an example:</h2>
	  <p>
	    	<table class="table table-hover">
	    <thead>
	      <tr>
		<th scope="col" colspan="4">!!SBtab TableType="Reaction" SBtabVersion="0.9.1"</th>
	      </tr>
	      <tr>
		<th scope="col">!ID</th>
		<th scope="col">!ReactionFormula</th>
		<th scope="col">!Identifiers:kegg.reaction</th>
		<th scope="col">!GeneName</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td>R1</td>
		<td>ATP + F6P &lt;=&gt; ADP + F16P</td>
		<td>R00658</td>
		<td>pfk</td>
	      </tr>
	      <tr>
		<td>R2</td>
		<td>F16P + H2O &lt;=&gt; F6P + Pi</td>
		<td>R01015</td>
		<td>fbp</td>
	      </tr>
	    </tbody>
	  </table>


	  <table class="table table-hover">
	    <thead>
	      <tr>
		<th scope="col" colspan="4">!!SBtab TableType="Compound" SBtabVersion="0.9.1"</th>
	      </tr>
	      <tr>
		<th scope="col">!ID</th>
		<th scope="col">!Name</th>
		<th scope="col">!InitialConcentration</th>
		<th scope="col">!Location</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td>F6P</td>
		<td>Fructose-6-phosphate</td>
		<td>0.1</td>
		<td>cytosol</td>
	      </tr>
	      <tr>
		<td>ATP</td>
		<td>ATP</td>
		<td>0.2</td>
		<td>cytosol</td>
	      </tr>
	      <tr>
		<td>ADP</td>
		<td>ADP</td>
		<td>1.1</td>
		<td>cytosol</td>
	      </tr>
	      <tr>
		<td>F16P</td>
		<td>Fructose-1,6-bisphosphate</td>
		<td>1.2</td>
		<td>cytosol</td>
	      </tr>
	      <tr>
		<td>H2O</td>
		<td>Water</td>
		<td>10.0</td>
		<td>cytosol</td>
	      </tr>
	      <tr>
		<td>Pi</td>
		<td>Inorganic phosphate</td>
		<td>2.1</td>
		<td>cytosol</td>
	      </tr>
	      <tr>
		<td>PEP</td>
		<td>Phosphoenolpyruvate</td>
		<td>3.3</td>
		<td>cytosol</td>
	      </tr>
	      <tr>
		<td>AMP</td>
		<td>AMP</td>
		<td>2.1</td>
		<td>cytosol</td>
	      </tr>
	    </tbody>
	  </table>


	  <table class="table table-hover">
	    <thead>
	      <tr>
		<th scope="col" colspan="2">!!SBtab TableType="Compartment" SBtabVersion="0.9.1"</th>
	      </tr>
	      <tr>
		<th scope="col">!ID</th>
		<th scope="col">!Size</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td>extracellular</td>
		<td>2.0</td>
	      </tr>
	      <tr>
		<td>cytosol</td>
		<td>1.0</td>
	      </tr>
	    </tbody>
	  </table>
	  </p>
	</article>

	<article>
	  <h2>What does the  example show?</h2>
	  <p>
	    <ul>
	      <li>The first line of an SBtab file is supposed to be the
		definition of the SBtab. It starts with '!!SBtab' and holds several
		attributes on the SBtab. (e.g. '!!SBtab SBtabVersion="0.9.1"
		TableType="Reaction" '). The TableType attribute must be provided,
		other attributes are optional.</li>
	      <li>The second line of an SBtab file provides the column headers of 
		the table, each of which are preceded by an exclamation mark (e.g. 
		'!ReactionFormula').</li>
	      <li>The following lines usually hold the value rows. It is 
		absolutely crucial that they consist of as many columns as the column 
		header line.</li>
	      <li>A column "!ID", if it exists, contains shortnames that serve as unique identifiers within the SBtab document.</li>
	    </ul>
	  </p>
	</article>


     



      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{end}}



