{{extend 'layout2.html'}}

{{block title}}
<title>SBtab - SBtab Models</title>
{{end}}

{{block dynamic_nav}}
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net">Home</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/introduction.html">Getting started <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/specification.html">Specification</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/validator.html">Validator</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/converter.html">SBML</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/def_files.html">Customize SBtab</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/code.html">Code</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/troubles.html">Troubleshooting</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/team.html">Contact</a>
</li>
{{end}}

{{block center}}
<header>
  <div class="container-fluid bg-1 text-center">
    <div class="jumbotron" align="center">
      <h1><small>SBtab Models</small></h1>
    </div>
  </div>
</header>

<main>
  <div class="container-fluid bg-3 text-center">
    <div class="row" align="left">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 textblock">
  
	<article>
	  <h2>SBtab files describing biochemical  network models</h2>
	  <p>
	    For the conversion of an SBtab file or several SBtab files, the 
	    provision of a 'Reaction' SBtab is crucial, since it defines the 
	    strucure of the new SBML model. But other SBtabs can be included in the 
	    conversion as well (e.g. TableType='Compound' or 
	    TableType='Compartment'). Please note here that it is crucial to stick 
	    to the identifying names: If the sum formula of a reaction lists 'ATP' 
	    as a reactant, the corresponding species in the Compound SBtab needs to 
	    be named 'ATP' as well (and not for instance 'Adenosine-triphosphate').
	  </p>
	</article>

	<article>
	  <h2>Here is an example:</h2>
	  <p>
	    	<table class="table table-hover">
	    <thead>
	      <tr>
		<th scope="col" colspan="4">!!SBtab TableType="Reaction" SBtabVersion="0.9.1"</th>
	      </tr>
	      <tr>
		<th scope="col">!ID</th>
		<th scope="col">!ReactionFormula</th>
		<th scope="col">!Identifiers:kegg.reaction</th>
		<th scope="col">!GeneName</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td>R1</td>
		<td>ATP + F6P &lt;=&gt; ADP + F16P</td>
		<td>R00658</td>
		<td>pfk</td>
	      </tr>
	      <tr>
		<td>R2</td>
		<td>F16P + H2O &lt;=&gt; F6P + Pi</td>
		<td>R01015</td>
		<td>fbp</td>
	      </tr>
	    </tbody>
	  </table>


	  <table class="table table-hover">
	    <thead>
	      <tr>
		<th scope="col" colspan="4">!!SBtab TableType="Compound" SBtabVersion="0.9.1"</th>
	      </tr>
	      <tr>
		<th scope="col">!ID</th>
		<th scope="col">!Name</th>
		<th scope="col">!InitialConcentration</th>
		<th scope="col">!Location</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td>F6P</td>
		<td>Fructose-6-phosphate</td>
		<td>0.1</td>
		<td>cytosol</td>
	      </tr>
	      <tr>
		<td>ATP</td>
		<td>ATP</td>
		<td>0.2</td>
		<td>cytosol</td>
	      </tr>
	      <tr>
		<td>ADP</td>
		<td>ADP</td>
		<td>1.1</td>
		<td>cytosol</td>
	      </tr>
	      <tr>
		<td>F16P</td>
		<td>Fructose-1,6-bisphosphate</td>
		<td>1.2</td>
		<td>cytosol</td>
	      </tr>
	      <tr>
		<td>H2O</td>
		<td>Water</td>
		<td>10.0</td>
		<td>cytosol</td>
	      </tr>
	      <tr>
		<td>Pi</td>
		<td>Inorganic phosphate</td>
		<td>2.1</td>
		<td>cytosol</td>
	      </tr>
	      <tr>
		<td>PEP</td>
		<td>Phosphoenolpyruvate</td>
		<td>3.3</td>
		<td>cytosol</td>
	      </tr>
	      <tr>
		<td>AMP</td>
		<td>AMP</td>
		<td>2.1</td>
		<td>cytosol</td>
	      </tr>
	    </tbody>
	  </table>


	  <table class="table table-hover">
	    <thead>
	      <tr>
		<th scope="col" colspan="2">!!SBtab TableType="Compartment" SBtabVersion="0.9.1"</th>
	      </tr>
	      <tr>
		<th scope="col">!ID</th>
		<th scope="col">!Size</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td>extracellular</td>
		<td>2.0</td>
	      </tr>
	      <tr>
		<td>cytosol</td>
		<td>1.0</td>
	      </tr>
	    </tbody>
	  </table>
	  </p>
	</article>

	<article>
	  <h2>What does the  example show?</h2>
	  <p>
	    <ul>
	      <li>The first line of an SBtab file is supposed to be the
		definition of the SBtab. It starts with '!!SBtab' and holds several
		attributes on the SBtab. (e.g. '!!SBtab SBtabVersion="0.9.1"
		TableType="Reaction" '). The TableType attribute must be provided,
		other attributes are optional.</li>
	      <li>The second line of an SBtab file provides the column headers of 
		the table, each of which are preceded by an exclamation mark (e.g. 
		'!ReactionFormula').</li>
	      <li>The following lines usually hold the value rows. It is 
		absolutely crucial that they consist of as many columns as the column 
		header line.</li>
	      <li>A column "!ID", if it exists, contains shortnames that serve as unique identifiers within the SBtab document.</li>
	    </ul>
	  </p>
	</article>


     



      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{end}}



