{{extend 'layout2.html'}}

<header>
  <div class="container-fluid bg-1 text-center">
    <div class="jumbotron" align="center">
      <h1><small>SBtab Online Validator</small></h1>
    </div>
  </div>
</header>

<main>
  <div class="container-fluid bg-3 text-center">
    <div class="row" align="left">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">

	<section>
	  <p>
	    Information on the SBtab validator can be found in the <a href="../static/files/validator_manual.pdf">manual</a>.
	  </p>
	  {{=UPL_FORM}}
	  
	  {{if NAME_LIST:}}
	  {{displayedf = []}}
	  {{displayedg = []}}
	  
	  {{for pos2, g in enumerate(DOC_NAMES):}}
	  {{if not g in displayedg:}}
	  SBtab document <b>{{=g}}</b>
	  
	  {{if list(NAME2DOC.values()).count(g) > 1:}}
	  <form>
	    <button type="submit" value="{{=pos2}}" name="remove_all_button_val">Remove all</button>
	  </form>
	  {{pass}}
	  
	  {{for pos,f in enumerate(NAME_LIST):}}
	  {{if NAME2DOC[f] == g:}}
	  {{sbtab = str(SBTAB_LIST[0])}}
	  
	  &bull;<a href="show_sbtab/{{=str(pos)}}" target="_new"> {{=f}} </a>
	  <form>
	    <button type="submit" value="{{=pos}}" name="validate_button">Validate</button>
	  </form>
	  <form>
	    <button type="submit" value="{{=pos}}" name="erase_button">Remove</button>
	  </form>
	  
	  {{displayedf.append(f)}}
	  {{displayedg.append(g)}}
	  {{pass}}
	  {{pass}}
	  {{pass}}
	  {{pass}}
	  
	  {{else:}}
	  <p>No SBtab files uploaded.</p>
	  {{pass}}
	</section>

	
	<section>
	  {{if WARNINGS and SBTAB_VAL:}}
	  <strong>Warnings for {{=SBTAB_VAL}}:</strong>

	  {{for f in WARNINGS:}}
	  &bull; {{=f}}
	  {{pass}}

	  {{elif WARNINGS:}}
	  {{=WARNINGS[0]}}
	  {{else:}}
	  <p>No warnings detected.</p>
	  {{pass}}	  
	</section>

	
	<section>
	  {{if OUTPUT and SBTAB_VAL:}}
	  <strong>File validation of {{=SBTAB_VAL}}:</strong>

	  {{for f in OUTPUT:}} 
	  &bull; {{=f}}
	  {{pass}}

	  {{elif OUTPUT:}}
	  {{=WARNINGS[0]}}
	  
	  {{if DEF_FILE_NAME:}}
	  The definition file <strong>{{=DEF_FILE_NAME}}</strong> is used for validation.
	  {{pass}}

	  {{else:}}
	  <p>No validation errors detected.</p>
	  {{pass}}
	</section>

	
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</main>
