{{extend 'layout2.html'}}
<p>
Information on the SBtab validator can be found in the <a href="/sbtab_web/static/files/validator_manual.pdf">manual</a>.<br>
</p>

<h2>SBtab online validator</h2>
{{=UPL_FORM}}

{{if NAME_LIST:}}
{{displayedf = []}}
{{displayedg = []}}

<table border="0">
  {{for pos2,g in enumerate(DOC_NAMES):}}
  {{if not g in displayedg:}}
  <table border="1" rules="rows">
    <td bgcolor="#87CEFA">
      SBtab document
      <b>{{=g}}</b>
    </td>
    {{if len(DOC_NAMES)>1:}}
    <form><td bgcolor="#87CEFA"><button type="submit" value="{{=pos2}}" name="remove_all_button_val">Remove all</button> </td> </form>
    <td bgcolor="#87CEFA"></td>
    {{else:}}
    <td bgcolor="#87CEFA"></td>
    <td bgcolor="#87CEFA"></td>
    {{pass}}
    {{for pos,f in enumerate(NAME_LIST):}}
    {{if NAME2DOC[f] == g:}}
    {{sbtab = str(SBTAB_LIST[0])}}
	    <tr>
	      <td>
		&bull;
		  <a href="/sbtab_web/default/show_sbtab/{{=str(pos)}}" target="_new"> {{=f}} </a>
	      </td>
	      <form><td> <button type="submit" value="{{=pos}}" name="validate_button">Validate</button> </td> </form>
	      <form><td> <button type="submit" value="{{=pos}}" name="erase_button">Remove</button> </td> </form>
	    </tr>
	    {{displayedf.append(f)}}
	    {{displayedg.append(g)}}
	    {{pass}}
	    {{pass}}
	    {{pass}}
	    {{pass}}
  </table>
</table>
{{else:}}
<table border="0">
<td>
No SBtab files uploaded.
</td>
</table>
{{pass}}

{{if WARNINGS and SBTAB_VAL:}}
<br>
<b>Warnings for
{{=SBTAB_VAL}}:</b>

<table border="0">
{{for f in WARNINGS:}} 
<tr> 
  <td><font color="#FF0000">&bull; {{=f}}</font></td> 
</tr>
{{pass}}
</table>
{{elif WARNINGS:}}
<table border="0">
  <tr>
    <td>
    <td style="color:red">{{=WARNINGS[0]}}</td>
    </td>
  </tr>
</table>
{{else:}}
<table border="0">
  <td>
    No warnings detected.
  </td>
</table>
{{pass}}

{{if OUTPUT and SBTAB_VAL:}}
<br>
<b>File validation of
{{=SBTAB_VAL}}:</b>

<table border="0">
{{for f in OUTPUT:}} 
  <tr> 
    <td><font color="#FF0000">&bull; {{=f}}</font></td> 
  </tr>
  {{pass}}
</table>
{{elif OUTPUT:}}
<table border="0">
  <tr>
    <td>
    <td style="color:red">{{=WARNINGS[0]}}</td>
    {{if DEF_FILE_NAME:}}
    The definition file <b>{{=DEF_FILE_NAME}}</b> is used for validation.
    {{pass}}
    </td>
  </tr>
</table>
{{else:}}
<table border="0">
  <td>
    No validation errors detected.
  </td>
</table>
{{pass}}





    <hr>
    <p>
      <a href="http://www.sbtab.net/index.html">Main</a> | 
      <a href="http://www.sbtab.net/introduction.html">Getting started</a> |
      <a href="http://www.sbtab.net/specification.html">Specification</a> |
      <a href="http://rumo.biologie.hu-berlin.de/SBtab/default/validator">Validator</a> | 
      <a href="http://rumo.biologie.hu-berlin.de/SBtab/default/converter">SBML</a> |
      <a href="http://rumo.biologie.hu-berlin.de/SBtab/default/def_files">Customize SBtab</a> |
      <a href="http://www.sbtab.net/code.html">Code</a> |
      <a href="http://rumo.biologie.hu-berlin.de/SBtab/static/troubles.html">Troubleshooting</a> |
      <a href="http://www.sbtab.net/team.html">Contact</a> 
    </p>
