<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Timo Lubitz">
    <meta name="description"  content="SBtab Website">
    <meta name="application-name" content="{{=request.application}}" />
    
    <!-- this is required for responsiveness -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- add bootstrap CSS; normalize for JS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link href="/sbtab_web/static/css/bootstrap.css" rel="stylesheet">  <!-- Lumen Layout --> 
    <link rel="stylesheet" type="text/css" href="/sbtab_web/static/css/sbtab.css">  <!-- Custom Layout -->
    {{block title}}
    {{end}}
    <link rel="icon" type="image/png" href="/sbtab_web/static/images/sbtab_favicon.png">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="https://www.sbtab.net">
	<img class="sb" src="/sbtab_web/static/images/sbtab-logo-nav.png" alt="SBtab Logo" style="width:80px"></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
	<span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarColor01">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item">
            <a class="nav-link" href="https://www.sbtab.net">Home</a>
	  </li>
	  <li class="nav-item">
            <a class="nav-link" href="https://www.sbtab.net/static/introduction.html">Getting started <span class="sr-only">(current)</span></a>
	  </li>
	  <li class="nav-item">
            <a class="nav-link" href="https://www.sbtab.net/static/specification.html">Specification</a>
	  </li>
	  {{block dynamic_nav}}
	  <li class="nav-item">
            <a class="nav-link" href="https://www.sbtab.net/default/validator.html">Validator</a>
	  </li>
	  <li class="nav-item">
            <a class="nav-link" href="https://www.sbtab.net/default/converter.html">SBML</a>
	  </li>
	  <li class="nav-item">
            <a class="nav-link" href="https://www.sbtab.net/default/def_files.html">Customize SBtab</a>
	  </li>
	  {{end}}
	  <li class="nav-item">
            <a class="nav-link" href="https://www.sbtab.net/static/code.html">Code</a>
	  </li>
	  <li class="nav-item">
            <a class="nav-link" href="https://www.sbtab.net/static/troubles.html">Troubleshooting</a>
	  </li>
	  <li class="nav-item">
            <a class="nav-link" href="https://www.sbtab.net/static/team.html">Contact</a>
	  </li>
	</ul>
	<!--
	<form class="form-inline my-2 my-lg-0">
	  <input class="form-control mr-sm-2" type="text" placeholder="Search">
	  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
	</form>
	-->
      </div>
    </nav>

    <div style="text-align:center;">
    {{block center}}
    <!--{{include}}-->
    {{end}}
    </div>
  </body>


  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>

  {{if response.google_analytics_id:}}
  <script src="{{=URL('static','js/analytics.min.js')}}"></script>
  <script type="text/javascript">
  analytics.initialize({
    'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'} 
  });</script>
  {{pass}}
  <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
  <script type="text/javascript">
    function help_click(div, txt) { if (div.innerHTML == "") div.innerHTML = "<br/>   " + txt; else div.innerHTML = ""; }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>

